.profile-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list {
    width: 500px;
}

.balance-controls {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.balance-controls img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media screen and (min-width: 800px) and (orientation: landscape) {
    .profile-wrapper {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
}
